:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://svs.gsfc.nasa.gov/vis/a010000/a014100/a014146/SupermassiveBinaryBlackHoles_desktop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.date2{
  margin-top: 10px;
}
.textfield{
  padding: 10px;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
h2{
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background: darkblue;
  border: 3px solid white;
  border-radius: 10px;
  width: 40%;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: orange;
  border-radius: 15px;
  padding: 15px;
}
.buttons_general{
  padding: 10px;
  border: 3px white solid;
  border-radius: 10px;
  background: darkblue;
}
ul{
  justify-content: center;
  list-style-type: none;
}
li{
  display: inline-block;
  margin-right: 20px;
}
.general_write{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
  border: 3px solid white;
  padding: 20px;
  border-radius: 15px;
  background: orange;
  color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
hr{
  height: 2px;
  background: white;
  margin-top: 20px;
}
input{
  border: 3px solid gray;
  border-radius: 10px;
  background: orange;
  color: black;
  font-weight: bold;
  font-size: 15px;
  height: 30px;
  transition: 0.7s;
}
input:hover{
  border: white 3px solid;
}
button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: darkblue;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: orange;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.education{
  background: darkblue;
  border: 3px solid white;
  border-radius: 10px;
  padding: 15px;
}
label{
  margin-right: 10px;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
